<html>
	{% load static %}
	<head>
		<title>TWN - Hydrogen</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="{% url 'home' %}" class="logo"><strong>TALK</strong> <span>with Numbers</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Hydrogen's Role in a Sustainable Future</h1>
									</header>
									<i>TL;DR: Climate change demands a shift to clean energy, with hydrogen playing a key role, especially in industrial sectors.
										<a href="{% url 'h2_production' %}">
											Explore these dynamics with our interactive Hydrogen Production Dashboard.
										</a>	
									</i>
									<span class="image main">{% include 'includes/global_H2_prod_vs_demand_2021.html' %}</span>
	<!-- blog content -->
						

	<h5>Understanding the Magnitude of Climate Change and Clean Energy</h5>
		<p>Climate change represents one of the most significant challenges facing our planet. 
			It's a "huge" issue, not just in scale but in complexity. 
			The transition to clean energy is pivotal in our efforts to address this global concern. 
			However, it's essential to approach this transition thoughtfully, recognizing the diverse viewpoints and concerns that exist.</p>
	
	<h5>The Scale of Hydrogen Production and Its Impacts</h5>
		<p>Before diving into the numbers, let's consider the accompanying chart illustrating the production versus demand of hydrogen in 2021.
			The chart, based on data from 
			<a href="https://www.irena.org/Energy-Transition/Technology/Hydrogen" target="_blank">IRENA</a> and 
			<a href="https://www.iea.org/data-and-statistics/charts/global-and-g7-members-hydrogen-demand-by-sector-2021" target="_blank">IEA</a>, 
			

			It's important to note a discrepancy: IEA data indicates a total hydrogen production of 94 million tonnes, while IRENA's figure is higher at 120 million tonnes.
			This difference highlights the challenges in accurately capturing global energy data. 
			Despite this, the overall picture remains clear: 
			a substantial portion of hydrogen production, almost 95%, relies on fossil fuels, 
			with natural gas accounting for 47%, coal 27%, oil 22%, and only 4% from electrolysis. 
			On the demand side, about 40% of this hydrogen, or 39.82 million tonnes, is used in oil refineries 
			- industries directly linked to the fossil fuel economy we aim to transition away from.
			In order to avoid catastrophic climate change, a significant shift in this sector is crucial.
			The rest of the demand is distributed across chemicals 48.40 million tonnes, iron and steel 5.16 million tonnes, with other industries and sectors making up the rest.
			Even if we eliminate the portion of hydrogen used in oil refining, a staggering 60-90 millions tonnes per year would still be needed for various industries. 
			This estimate assumes no growth in hydrogen demand, which might not be the case as industries evolve and the economy grows.</p>

	<h5>Green Hydrogen: A Path to Decarbonization & The Clean Hydrogen Ladder Concept</h5>
		<p>Assuming we can produce sufficient affordable green hydrogen through electrolysis, the focus should shift to decarbonizing hydrogen feedstocks for diverse industries.
			This strategy is key to reducing our overall carbon footprint without disrupting industrial processes that are vital for our economy.
			Given these dynamics, it might be premature to heavily invest in hydrogen as a fuel for transportation.
			While it's an exciting area of development, our immediate focus should be on areas where green hydrogen can replace its carbon-intensive counterparts most effectively.
			<a href="https://www.linkedin.com/pulse/hydrogen-ladder-version-50-michael-liebreich/" target="_blank">
				Michael Liebreich's Clean Hydrogen Ladder concept</a> 
			offers a clear visualization of this issue.

			<p style="text-align: center;">
				<img src="{% static 'assets/images/hydrogenladder.jpeg' %}" alt="The Hydrogen Ladder" style="max-width: 75%; height: auto;">
				<br>
				<span style="display: block;">The Hydrogen Ladder, Version 5.0</span>
			</p>
			 
			It emphasizes the need to prioritize the application of green hydrogen where it is most effective and necessary,
			underscoring that not all uses of hydrogen are equally beneficial in the context of decarbonization.</p>

	<h5>Exploring the Future of Hydrogen: Interactive Insights</h5>
	<p>As we journey through the complexities of hydrogen's role in our sustainable future, understanding the sheer scale and impact of hydrogen production becomes crucial.
		To truly grasp the significance of this transition, it's not enough to simply read about it, experiencing and interacting with the data is the key. 
		This is where our innovative Hydrogen Production Dashboard comes into play. 
		This interactive tool where you can modify the input data is designed to bring the numbers to life, offering a tangible sense of the scale and impact of hydrogen production. 
	</p>

	<H4>
		<a href="{% url 'h2_production' %}" class="button small">
			Access the Hydrogen Production Dashboard here
		</a>
	</H4>


		
	<!-- end of blog content -->

								</div>
							</section>

					</div>

				<!-- Contact -->
					

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>© Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script><nav id="menu"><div class="inner">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							<li><a href="landing.html">Landing</a></li>
							<li><a href="generic.html">Generic</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button primary fit">Get Started</a></li>
							<li><a href="#" class="button fit">Log In</a></li>
						</ul>
					</div><a class="close" href="#menu">Close</a></nav>

	
</body></html>