/* css for smalling font */
.small-font {
    font-size: smaller !important;
}

/* margin for table-top */
.table-spacing {
    margin-top: 20px; /* Adjust the value as needed */
  }

 /* margin for paragraph */
.paragraph-spacing {
margin-bottom: 20px; /* Adjust the value as needed */
}  

/* CSS for .input-container */
.input-container {
    background-color: #2a2f4a; /* Background color for the container */
    border: 1px solid #2a2f4a; /* Border around the container */
    padding: 20px; /* Padding inside the container */
    margin-bottom: 20px; /* Margin below the container */
}

/* CSS for labels within .input-container */
.input-container label {
    font-weight: bold; /* Bold label text */
    display: block; /* Display labels as block elements */
    margin-bottom: 10px; /* Margin below each label */
}

/* CSS for limiting the width of the select element */
.input-container select {
    width: 40%; /* Set the initial width to 40% */
    max-width: 50%; /* Set the maximum width to 50% */
}


/* For styling the reference, using APA citation style */
/* APA citation style */
.apa-citation {
    text-indent: -0.5in;
    margin-left: 0.5in;
    font-size: 20px; /* Increased font size */
    line-height: 1.5;
}

/* Style for italicized text in APA citation */
.italicized {
    font-style: italic;
}

/* Ensure ordered list numbers are visible */
ol {
    list-style-position: inside;
    padding-left:20px; /* or sufficient value */
    text-indent:0px; /* Adjust text indent if necessary */
}


.img-container {
    display: block; /* Change span to a block-level element */
    margin: 20px; /* Add space around the span */
}

  
