
{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <meta property="og:title" content="Electrifying Maritime Transportation - talk with numbers">
  <meta property="og:description" content="Exploring the viability and challenges of electrifying maritime transportation in Indonesia.">
  <meta property="og:image" content="{% static 'assets/images/specific-image-for-article.jpg' %}">
  <meta property="og:url" content="https://www.talkwithnumbers.com/mardecarb/">
  <meta property="og:type" content="article">
{% endblock %}

{% block content %}
<article>
    <div id="main" class="alt">
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h1>Electrification of Cargo Ship Propulsion</h1>
                    <h2>Study Case for Indonesia</h2>
                </header>
                <i>TL;DR: If it's less than 24 hours voyage, let's have a look now. Otherwise let's wait few more years.</i>
                <span class="image">
                    <img src="{% static 'assets/images/electricvessel.jpg' %}" alt="">
                </span>
                
                <h5>Recent Study on electric shipping</h5>

                

                  
                <h3>Background</h3>
                <p>
                    Two recent studies have brought a new perspective on the feasibility of electrifying maritime transportation.                                 
                    The first study by Kersey et al. (2022) <a href="https://doi.org/10.1038/s41560-022-01065-y" target="_blank">[2]</a>
                    showed that at battery price of US$ 100kWh, the electrification of intra-regional trade routes of less than 1,500 km is economical
                    with minimal impact to ship carrying capacity. If battery achieve a price of US$ 50kWh, the economical range nearly doubles.

                    Similiarly a second study by Kistner et al. (2023) <a href="https://doi.org/10.1016/j.ecmx.2023.100507" target="_blank">[1]</a>
                    mentioned that the application of battery-electric propulsion system is found not to be limited by the vessel Size
                    but mostly by the operated passage length. While distance of up to 15,000 km are technically achievable,
                    economic limitations are effectively reducing the area of application to a maximum of 10,000 km.
                    However when comparing battery solutions with conventional desel combustion engines, 
                    economic competitiveness is only observed for passages of up to 2,500 km 
                    when including a carbon tax and forecasting optimistic battery development.  
                                  
                </p>
                <br>

                <h3>Case for Indonesia</h3>
                <p>
                    In Indonesia, a nation where maritime routes are the lifeline of our archipelago, make this finding very interesting.
                    What if we could electrify our maritime transportation? How feasible is it and What is the limitation?
                    Considering that the trajectory of falling battery price in the last decade, in the near future this could be the key to decarbonize our maritime transportation.
                      
                    <span style="display: block; margin: 20px;">
                        <img src="{% static 'assets/images/BNEF_battery_price_trajectory_upto_2023.png' %}" alt="">
                    </span>


                    Borrowing the approach from Kistner et al. (2023) <a href="https://doi.org/10.1016/j.ecmx.2023.100507" target="_blank">[1]</a>, 
                    this writing tries to estimate the feasibility of electrifying the maritime transportation in Indonesia. 
                    Economic and physical models are used for the evaluation.
                    For this purpose, KM Logistik Nusantara 5 serving the T-10 route from the Indonesia's 'Sea-Toll' program
                    <a href="https://ppid.dephub.go.id/fileupload/informasi-berkala/20230512143919.SK_Jaringan_Trayek_Tol_Laut_TA._2023.pdf" target="_blank">[6]</a>
                    is taken for the study. 
                    This route is one with the highest volume routes within this program. 
                    It serves the eastern part of Indonesia, notably the North Maluku group of islands. The detail of the route is presented in below map and table.
                    <br>
                    <br>

                    <!-- T-10 map -->
                    <span class="image">
                        <img src="{% static 'assets/images/trayek t-10.png' %}" alt="" style="width: 100%; height: auto;">
                    </span>
                    <br>
                    <br>
                    <!-- T-10 table -->
                    {% include 'includes/equation_data.html' with table_port_distance_only=True %}                 
                                     
                </p>

                <p>
                    A little bit about the 'Sea-Toll' program, Indonesia is an archipelagic nation with thousands of islands, 
                    maritime transportation is indispensable to our country's infrastructure. 
                    In response, the Government of Indonesia launched the “Sea Toll” program in 2015. 
                    It's an initiative aimed at enhancing maritime logistics and connectivity among the archipelago's islands, 
                    focusing on reducing logistics costs and equalizing the price of goods across regions, particularly in remote and underdeveloped areas.                  
                    
                </p>
                <br>

                <h3>Data & Methodology</h3>
                <p>
                    Following table summarize the subject of the comparison.
                    <br>
                    <br>
                    {% include 'includes/equation_data.html' with table_subject_resume_only=True %}
                    For the distance calculation, the longest intra-port distance on this route is used to estimate the required energy for the battery-electric vessel.
                    In this case the voyage between Tanjung Perak to Tidore (1,216 miles). 
                    The estimated round trip duration, including berthing time at each visited ports, is 21 days.
                    Therefore, it is possible to consider 17 round trip voyages per year.
                    It is assumed that for the rest of the trip the vessel can be refueled or recharged on the ports along the route.
                    As for calculating fuel or recharge cost (operational cost), the entirety of the voyage is taken into account.


                    As for the method of comparison, 
                    the <a href="https://doi.org/10.1016/j.ecmx.2023.100507" target="_blank">[1]</a> reference will be used.
                    The economic and physical models for both marine diesel engine and battery-electric vessel will be compared.
                    For the economic model, the equations are as follow:

                    <div style="display: flex; justify-content: space-between;">

                        <!-- Left column for diesel engine vessel -->
                        <div style="flex: 1; padding-right: 10px;">
                            <div>Economic model for diesel engine vessel</div>
                            <br>
                            <!-- equation -->
                            <div>
                                {% include 'includes/equation_data.html' with ice_eco_model_only=True %}
                            </div>
                            <br>
                            <!-- table -->
                            {% include 'includes/equation_data.html' with ice_eco_table_only=True %}
                        </div>

                        <!-- right column for battery electric vessel -->
                        <div style="flex: 1; padding-left: 10px;">
                            <div>Economic model for battery electric vessel</div>
                            <br>
                            <!-- equation -->
                            <div>
                                {% include 'includes/equation_data.html' with be_eco_model_only=True %}    
                            </div>
                            <br>
                            <!-- table -->
                            {% include 'includes/equation_data.html' with be_eco_table_only=True %}
                        </div>

                    </div>

                </p>

                <p>
                    As for the physical model, the volume and weight of the required energy will be compared. 
                    For the ICE ship, the total fuel storage tank volume represents the required energy for the voyage, 
                    whereas for the battery electric ship, it will use the volume and weight of the require battery system.  
                    The rest of the assumptions can be summarized in the following table. 
                    The charging rate and fuel oil price are local data in IDR, it will be converted to EUR during the calculation.
                    <!-- table for assumptions -->
                    {% include 'includes/equation_data.html' with table_assumptions_only=True %}
                    <br>
                    <h3>Synthesis</h3>
                    The resulting estimation is presented in below graph. 
                    The Port of Arrival illustrates the voyage segment within T-10 route, for example 'Tidore' represents the voyage from Surabaya to Tidore,
                    and 'Morotai' represents the voyage between Tidore to Morotai. 
                    The intention to show this result is to illustrate the effect of segment distance and passage time to the economic model.
                    The y-axis quantifies the total annual costs, 
                    distinguishing between the annualized investment cost—depicted as the solid base of each bar—and the recurring refueling or charging costs, 
                    shown as the upper stacked portion.  

                    <span class="image main" style="display: block; padding-bottom: 20px;">
                        {% include 'includes/annual_costs.html' %}</span>
                    
                    
                </p>
                <p>
                    This analysis presents findings that are in line with the research by Kistner et al. (2023) <a href="https://doi.org/10.1016/j.ecmx.2023.100507" target="_blank">[1]</a>, 
                    particularly highlighting the economic challenges associated with the application of battery-electric propulsion systems for extended maritime routes. 
                    A case in point is the route from Surabaya to Tidore, covering a journey of approximately three days. 
                    For this passage, the annualized investment cost of implementing battery-electric propulsion is observed to be about 50 times higher than that of traditional marine diesel engines. 
                    This stark difference underscores the current limitations of battery-electric systems for longer voyages where cost-effectiveness is a pivotal concern.
                </p>
                <p>
                    Conversely, for shorter routes such as the 72 nautical mile stretch from Morotai to Galela, which is completed in just 4.5 hours, the cost disparity narrows considerably. 
                    Here, the annualized investment cost for electric propulsion is merely three times that of diesel engines - 
                    a significantly reduced gap compared to the longer T-10 route from Surabaya to Tidore. 
                    This observation opens up an intriguing line of inquiry into the viability of electric propulsion for mid-range maritime routes, 
                    particularly those spanning 300 to 700 nautical miles in the near future, where economic and operational efficiency may reach a tipping point.
                    Adding a midway stop for the longest route might reduce a lot the investment cost, for example berthing at Makassar prior to continuing to Tidore.   
                </p>
                <!-- table -->
                {% include 'includes/equation_data.html' with physical_model_table_only=True %} 
                <p>
                    From a physical modeling perspective, this analysis used the longest route within our study, 
                    the 1216 nautical mile trek from Surabaya to Tidore. 
                    Findings indicate that battery-electric propulsion systems would require approximately threefold the volume and weight compared to conventional systems. 
                    Such an increase has direct implications on cargo capacity, potentially reducing available space and weight for freight. 
                    Notably, even if batteries were to occupy the space typically reserved for fuel tanks, an additional 2000 m³ would still be necessary to house the battery-electric system.
                </p>
                <p>
                    It is important to note that these calculations have not accounted for the environmental costs associated mainly with the marine diesel engine, such as carbon tax, 
                    nor the trend of price reduction in battery technology. 
                    It will be interesting to observe how incorporating these factors might alter the economic feasibility of electric maritime propulsion system.
                </p>

<!-- 
                <div class="input-container">
                    <label for="teu-size">Container Vessel TEU Size:</label>
                    <select id="teu-size" name="teu-size">
                        <option value="500">500 TEUs</option>
                        <option value="1000">1000 TEUs</option>
                        <option value="1500">1500 TEUs</option>
                        <option value="2000">2000 TEUs</option>
                    </select>
                </div> -->

                <h2>References:</h2>
                <ol>
                    <li class="apa-citation">
                        
                        Kistner, L., Bensmann, A., & Hanke-Rauschenbach, R. (2023). 
                        Potentials and limitations of battery-electric container ship propulsion systems. 
                        <span class="italicized">Energy Conversion and Management: X</span>, 21, 100507. 
                        <a href="https://doi.org/10.1016/j.ecmx.2023.100507" target="_blank">https://doi.org/10.1016/j.ecmx.2023.100507</a>
                    </li>
                    <li class="apa-citation">
                        
                        Kersey, J., Popovich, N. D., & Phadke, A. A. (2022). 
                        Rapid battery cost declines accelerate the prospects of all-electric interregional container shipping. 
                        <span class="italicized">Nature Energy</span>. 
                        <a href="https://doi.org/10.1038/s41560-022-01065-y" target="_blank">https://doi.org/10.1038/s41560-022-01065-y</a>
                    </li>
                    <li class="apa-citation">
                        
                        Li, J., & Jia, Y. (2020). 
                        Calculation Method of Marine Ship Fuel Consumption. 
                        <span class="italicized">IOP Conference Series: Earth and Environmental Science</span>, 571, 012078. 
                        <a href="https://doi.org/10.1088/1755-1315/571/1/012078" target="_blank">https://doi.org/10.1088/1755-1315/571/1/012078</a>
                    </li>
                    <li class="apa-citation">
                        <span class="italicized">Tarif Tenaga Listrik</span>. PLN. Retrieved from 
                        <a href="https://web.pln.co.id/pelanggan/tarif-tenaga-listrik" target="_blank">https://web.pln.co.id/pelanggan/tarif-tenaga-listrik</a>
                    </li>
                    <li class="apa-citation">
                        <span class="italicized">Harga Solar Industri B35 & MFO</span>. Solar Industri. Retrieved from 
                        <a href="https://solarindustri.com/berita/harga-solar-industri-01-14-januari-2024/" target="_blank">https://solarindustri.com/berita/harga-solar-industri-01-14-januari-2024/</a>
                    </li>
                    <li class="apa-citation">
                        <span class="italicized">Keputusan Direktur Jenderal Perhubungan Laut 
                            Tentang Penetapan Jaringan Trayek Penyelenggaraan Kewajiban Pelayanan Publik Untuk Angkutan Barang Di Laut Tahun Anggaran 2023
                        </span>. Dirjen Perhubungan Laut. Retrieved from 
                        <a href="https://ppid.dephub.go.id/fileupload/informasi-berkala/20230512143919.SK_Jaringan_Trayek_Tol_Laut_TA._2023.pdf" target="_blank">https://ppid.dephub.go.id/fileupload/informasi-berkala/20230512143919.SK_Jaringan_Trayek_Tol_Laut_TA._2023.pdf</a>
                    </li>
                      
                </ol>
    
            </div>
        </section>
    </div>



</article>
{% endblock %}
