<!DOCTYPE html>
{% load static %}
<html><head>
		<title>Talks with Numbers</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="reveal">
						<a href="#" class="logo"><strong>TALK</strong> <span>with Numbers</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					

				<!-- Banner -->
					<section id="banner" class="major" style="background-position: center -577.5px;">
						<div class="inner">
							<header class="major">
								<h1>Numbers, not adjective</h1>
							</header>
							<div class="content">
								<p>This heated debate is fundamentally about numbers</p>
								<ul class="actions">
									<li><a href="#two" class="button next scrolly">Read more</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article style="background-image: url(&quot;assets/images/pic01.jpg&quot;);">
									<span class="image" style="display: none;">
										<img src="{% static 'assets/images/pic01.jpg' %}" alt="">
									</span>
									<header class="major">
										<h3><a href="{% url 'hydrogen' %}" class="link">Hydrogen</a></h3>
										<p>Production, etc.</p>
									</header>
								<a href="#" class="link primary"></a></article>
								<article style="background-image: url(&quot;assets/images/pic02.jpg&quot;);">
									<span class="image" style="display: none;">
										<img src="{% static 'assets/images/pic02.jpg' %}" alt="">
									</span>
									<header class="major">
										<h3><a href="{% url 'windenergy' %}" class="link">Wind Energy</a></h3>
										<p>RAM, etc.</p>
									</header>
								<a href="#" class="link primary"></a></article>
									<!--for future sections  -->
							</section>

						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>Numbers, not Adjectives</h2>
									</header>
		<p>For the 1st chapter of his book, 
			<a href="https://www.withouthotair.com" target = "_blank">Sustainability without Hot Air</a>, 
			David J MacKay named it "Numbers, not Adjectives". Within this section also, he wrote:</p>
			<blockquote>
				This heated debate is fundamentally about numbers. How much energy
				could each source deliver, at what economic and social cost, and with
				what risks? But actual numbers are rarely mentioned. In public debates,
				people just say “Nuclear is a money pit” or “We have a huge amount of
				wave and wind.” The trouble with this sort of language is that it’s not
				sufficient to know that something is huge: we need to know how the one
				“huge” compares with another “huge,” namely our huge energy consumption.
				To make this comparison, we need numbers, not adjectives.	
			</blockquote>
		<p>
			In many cases, the use of numbers can be misleading, 
			as they are often presented in a way that emphasizes their scale rather than their actual significance. 
			Numbers are sometimes selected more for their impact in debates, aiming to impress or win an argument, 
			rather than to genuinely enlighten or inform the discussion.
		</p>
		<p>
			This site is envisioned as a platform for initiating discussions 
			on decarbonization across various industries and aspects. 
			We aim to present topics rich in quantifiable data, allowing for a thorough evaluation and understanding. 
			Our goal is to offer ample information, 
			not just to enlighten but also to facilitate informed debates 
			about the directions and nuances of decarbonization. 
			By focusing on concrete numbers, we hope to contribute to 
			a more informed and productive discourse in this crucial field.
		</p>
		<i>Stay tuned as we dive into the numbers that shape our sustainable future.</i>

								</div>
							</section>

					</div>

				<!-- Contact -->
					<!-- <section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name">
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email">
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary"></li>
										<li><input type="reset" value="Clear"></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">manunggal.s@gmail.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>(000) 000-0000 x12387</span>
									</div>
								</section>
							</section>
						</div>
					</section> -->

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://github.com/manunggal/" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/in/manunggal-sukendro-3077b91a/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>© manunk</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script><nav id="menu"><div class="inner">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							<li><a href="landing.html">Landing</a></li>
							<li><a href="generic.html">Generic</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button primary fit">Get Started</a></li>
							<li><a href="#" class="button fit">Log In</a></li>
						</ul>
					</div><a class="close" href="#menu">Close</a></nav>

	
</body></html>